<?php
/**
 * @license   http://opensource.org/licenses/BSD-3-Clause BSD-3-Clause
 * @copyright Copyright (c) 2013 Zend Technologies USA Inc. (http://www.zend.com)
 */

$config = array(
    /*
     * Specify what MIME types the ApiProblemListener will respond to.
     * DEFAULT: application/json
     */
    //'accept_filter' => 'application/hal+json,application/api-problem+json,application/json',
);

/* No need to edit below this line */
return array(
    'zf-api-problem' => $config,
);
