<?php
/**
 * @license   http://opensource.org/licenses/BSD-3-Clause BSD-3-Clause
 * @copyright Copyright (c) 2013 Zend Technologies USA Inc. (http://www.zend.com)
 */

return array(
    'zf_api_problem' => array(
        /*
         * Specify what MIME types the ApiProblemListener will respond to.
         * DEFAULT: application/json, application/*+json
         */
         // 'accept_filter' => array('application/hal+json', 'application/api-problem+json', 'application/json'),

        /*
         * Array of controller service names that should enable the ApiProblem render.error listener
         */
         // 'render_error_controllers' => array()
    ),
);
